@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Spicy+Rice&display=swap");
@import "tailwindcss";

/* Custom font families */
@theme {
  /* Custom font families */
  --font-spicy-rice: "Spicy Rice", cursive;
  --font-instrument-sans: "Instrument Sans", sans-serif;

  /* Custom colour variables */
  --color-primaryGreen: #166534;
  --color-secondaryGreen: #14532d;
  --color-tertiaryGreen: #f0fdf4;
  --color-pricingGreen: #dcfce7;
  --color-black: #000000;
  --color-amber: #fef3c7;
  --color-lightBlue: #e0f2fe;
  --color-rose: #fecdd3;
  --color-grey: #e5e5e5;
}

/* Utility Classes like custom button variant classes */
@layer utilities {
  .btn--text-white {
    @apply rounded text-white p-2 lg:text-sm md:text-xs uppercase text-lg text-center;
  }

  .btn--text-black {
    @apply rounded text-black p-2 lg:text-sm md:text-xs text-center;
  }
}
